textarea {
  display: flex;
  background-color: transparent;
  width: 100%;
  font-weight: 700;
  border-bottom: 3px solid #333;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  outline: none;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: #ff0000;
  font-size: 0.75em;
  font-weight: 100;
}

#empty {
  display: none;
  width: 100%;
  border-color: #ff0000;
  border-style: ridge;
  text-align: center;
  margin-top: 1.5px;
  margin-bottom: 1.5px;
}


#too-long {
  display: none;
  width: 100%;
  border-color: #ff0000;
  border-style: ridge;
  text-align: center;
  margin-top: 1.5px;
  margin-bottom: 1.5px;
}




button {
  font-size: smaller;
  font-family: 'Bungee';
  margin-top: 1%;
  border-style: inset;
  color:aliceblue ;
  background-color: royalblue;
}

.counter {
  font-family: 'Bungee';
  font-weight: 300;
  justify-content: flex-end;
}

.red-counter {
  color: red;
}

.tweet-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



